@import "partials/variables";
@import "partials/responsive";

.padding{
    padding-top: 120px;
}

body{
    font-family: $font;
}

.owl-theme{
    .disabled{
        display: block!important;
    }
}


.btn{
    background-color: $secondary_color;
    color: white;
    padding: 10px;
}

a{
    color: black;
    text-decoration: none!important;
}

a:hover{
    color: inherit;
}


body{
    header{
        position: sticky;
        z-index: 1555500050550505050;
        top: 0;
        #upper_nav{
            background-color:$main_color;
            padding: 10px;

            .title{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    text-transform: uppercase;
                    font-size: 18px;
                    color:white !important;
                }
            }
        }

        #lower_nav{
            background-color:#121b21 ;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
                padding: 15px 0;
                max-width: 100%;
                img{
                    max-width: 100%;
                }
            }
            .navigation_bar{
                height: 100%;
                display: flex;
                align-items: center;
                float: right;
                ul{
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    flex-direction: row-reverse;
                    li{
                        float: left;
                        // float: right;
                        a{
                            color: white;
                        }

                        margin-left: 15px;
                    }
                }
            }

            .mobile_navigation_bar{
                background-color: #121b21;
                display: none;

                ul{
                    padding: 0px;
                    margin: 0px;
                    li:nth-last-child(1){
                        margin-bottom: 0px!important;
                    }
                    li{
                        border-bottom: 2px solid rgb(146, 144, 144) ;
                        margin-bottom: 15px;
                        text-align: center;
                        a{
                            color:white;
                            font-size: 25px!important;
                            transition: 0.5s ease;
                        }

                        a:hover{
                            color: $secondary_color;
                            transition: 0.5s ease;
                        }
                    }
                }
            }

            .col-2{
                display: none;
            }
            .menu_btn{
                display: none;
                position: relative;
                width: 27px;
                height: 20px;
                .burger_btn{
                    position: relative;
                    width: 26px;
                    height: 5px;
                    border-radius: 3px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    transition: 0.5s ease;
                }

                .burger_btn:after, .burger_btn:before{
                    content:'';
                    position: absolute;
                    width: 26px;
                    height: 5px;
                    border-radius: 3px;
                    background-color: white;
                    transition: 0.5s ease;
                }
                .burger_btn:after{
                    transform: translateY(10px);
                }
                .burger_btn:before{
                    transform: translateY(-10px);
                }
            }

            .animate{
                .burger_btn{
                    transform: translateX(-20px)!important;
                    background: transparent;
                }

                .burger_btn::before{
                    transform: rotate(45deg) translate(16px,-16px);
                }

                .burger_btn::after{
                    transform: rotate(-45deg) translate(16px,16px);
                }
            }
        }
    }
}

body{
    #greeting{
        height: 65vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;

            .title{
                display: flex;
                height: 55vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                color: white;

                .row{
                    display: none;
                }
            }
    }

    #greeting::before{
        position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #010006;
            opacity: .60;
    }
}

body{
    .line{
        width: 100%;
        height: 20px;
        background-color: $main_color;
    }
}

body{
    #project{
        .project_slider{
            height: 250px!important;
            .project_item{
                margin: 0!important;
                padding:0!important;
    
                img{
                    height: 250px!important;
                }
    
                .project_bottom{
                    position: absolute;
                    bottom: 20px;
                    left:20px;
                    display: flex;
                    align-items: center;
    
                    .background_opacity{
                        width: 100%;
                        height: 90%;
                        position: absolute;
                        background-color:black;
                        
                        opacity: 0.6;
                    }
    
                    h3{
                        margin-bottom:0px important;
                        position: absolute;
                        top:50%;
                        margin-top:5px;
                        padding: 0px 10px;
                        height: 100%;
                        position: relative;
                        color:white;
                        a{
                            color: white;
                        }
                    }
                }
            }

            
        }
        .owl-theme{
            .owl-nav {
                margin: 0 auto;
                position: absolute;
                width: 100%;
                top: 45%;
                z-index: 12;
                color: white;
                font-size: 25px;
            }

            .owl-prev, .owl-next{
                background-color: none;
                opacity: 1;
                color: $secondary_color;
                transition:transform 0.5s ease
            }

            .owl-prev:hover, .owl-next:hover{
                background-color: transparent;
                transform: scale(1.5);
                transition:transform 0.5s ease
            }

            .owl-prev{
                position: absolute;
                left:15px ;

            }
            .owl-next{
                position: absolute;
                right:15px ;
            }
        }
    }
}

body{
    #about{
        .about_slider{
            .about_item{
                width: 100%;
                padding: 75px 90px;
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;

                .section_title{
                    
                    h2{
                        display: inline-block;
                    }
                }

                .section_content{
                    margin-top: 26px;
                    p{
                        font-size: 23px;
                    }
                }
            }
            .colored{
                
                background-color:#f1f1f1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .section_title{
                    text-align: center;
                    i{
                        color: $secondary_color;
                        font-size: 48px;
                        margin-right: 15px;
                    }
    
                    h2{
                        font-size:48px;
                    }
                }

                .section_content{

                    width: 50%;
                    text-align: center;
                }
                
            }
            .not_colored{
                .section_title{
                    h2{
                        border-bottom: 2px solid $secondary_color;
                    }
                }
            }

        }
        
        .owl-theme{
            .owl-nav {
                margin: 0 auto;
                position: absolute;
                width: 100%;
                top: 45%;
                z-index: 12;
                color: white;
                font-size: 30px;
            }

            .owl-prev, .owl-next{
                background-color: none;
                opacity: 1;
                color: $secondary_color;
                transition:transform 0.5s ease
            }

            .owl-prev:hover, .owl-next:hover{
                background-color: transparent;
                transform: scale(1.5);
                transition:transform 0.5s ease
            }

            .owl-prev{
                position: absolute;
                left:15px ;

            }
            .owl-next{
                position: absolute;
                right:15px ;
            }
        }
    }
}

body{
    #news_events{
        padding-bottom: 150px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;


        .title{
            padding-top: 80px;
            text-align: center;
            position: relative;
            color: white;
        }

        .news_item{
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 250px;
            transition:transform 0.5s ease ;
            .image{
                // max-width: 263px;
                // max-height: 340px;
                // opacity: 0.6;
                position: relative;

                width: 100%;
                .fade_image{
                    top:0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    opacity: 0.6;
                }

                img{
                    width: 100%;
                    height: 340px;
                }
            }

            .news_detail{
                top: 65%;
                position: absolute;
                padding: 15px;
                overflow: hidden;
                text-overflow: ellipsis;

                span{
                    color: $secondary_color;
                }
                p{
                    color: white;
                }
            }
        }

        .news_item:hover{
            transform: scale(1.05);
            transition:transform 0.5s ease ;
        }

        
        #instafeed-container{
            max-width:1080px;
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;

            .col-lg-3:nth-child(1){
                flex:0 0 100%!important;
                max-width: 100%!important;

                .news_item{
                    height: 450px!important;
                    .image{
                        // max-width: 263px;
                        max-height: 450px!important;
                        position: relative;

                        // width: 100%;
                        .fade_image{
                            top:0;
                            // position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: black;
                            opacity: 0.6;
                        }

                        img{
                            // width: 100%;
                            height: 450px;
                        }
                    }

                    .news_detail{
                        background-color: white;
                        top: 75%;
                        position: absolute;
                        padding: 15px;

                        span{
                            color: $secondary_color;
                        }
                        p{
                            color: black;
                            overflow: hidden!important;
                        }
                    }
                }
            }
            
        }

        

        .event_slider{
            .owl-item{
                padding: 0px 10px;
            }
            .event_item{
                height: 198px!important;
                background-color: $secondary_color;
                width: 100%;
                position: relative;
                .event_title{
                    padding:20px;
                    p{
                        color: rgb(187, 72, 0);
                        font-weight: 700;
                    }
                    h2{
                        color: #121B21;
                        font-size: 1.2222222222222222em;
                        line-height: 1.2em;
                        font-weight: 700;
                    }
                }

                .event_bottom{
                    position: absolute;
                    padding: 20px;
                    background-color: #c75107;
                    bottom:0;
                    width: 100%;

                    p{
                        display: inline-block;
                        margin: 0;
                    }
                }
            }

        }
        
        .owl-theme{
            .owl-nav {
                display: none!important;
                margin: 0 auto;
                position: absolute;
                width: 100%;
                top: 35%;
                z-index: 12;
                color: white;
                font-size: 25px;
            }

            .owl-prev, .owl-next{
                background-color: none;
                opacity: 1;
                color: $secondary_color;
                transition:transform 0.5s ease;
                background-color:#333333 ;
                padding: 5px!important;
                position: absolute;
                border-radius: unset;
            }

            .owl-prev:hover, .owl-next:hover{
                transform: scale(1.2);
                transition:transform 0.5s ease
            }

            .owl-prev{
                left:-5px ;
                

            }
            .owl-next{
                right:-5px ;
            }
        }
    }

    #news_events::before{
        position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #010006;
            opacity: .60;
    }

    


}

body{
    footer{
        background-color:#121b21 ;

        #university{
            .name{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                position: relative;
                h5{
                    margin: 0!important;
                    a{
                        color: white!important;
                    }
                }
            }
            .icons{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                float: right;
                padding: 15px 0;
                ul{
                    display: flex;
                    float: left;
                    margin: 0!important;
                    li{
                        margin-right: 15px;
                        width: 40px;
                        height: 40px;
                        background-color: $secondary_color;
                        border-radius: 1px solid $secondary_color;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            font-size: 20px;
                            text-align: center;
                            color: white;
                        }
                    }
                }
            }
        }

        #copyright{
            background-color: $main_color;
            padding: 10px 0;

            h6{
                margin: 0!important;
                p{
                    margin: 0!important;
                    color: white;
                    text-align: center!important;
                    a{
                        color: white;
                        transition: 0.5s ease;
                        margin: 0!important;
                    }

                    a:hover{
                        color: $secondary_color;
                        transition: 0.5s ease;
                    }
                }
            }
        }
    }
}

body{
    #aboutus{
        padding-top: 80px;
        .header{
            border-bottom: 2px solid black;
        }

        .content{
            padding: 1.5em;
            p{
                font-size: 20px;
            }
        }
        .image{
            margin-top: 2em;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    .about_line{
        position: relative;
        margin-top: 50px;
        width: 100%;
        height: 5px;
        background-color: $secondary_color;
    }

    #accordion_about{
        padding-top: 80px;
        padding-bottom: 80px;
        
        .accordion_item{
            margin-bottom: 50px;
            .header{
                border-bottom: 2px solid $secondary_color;
                cursor: pointer;
                flex-direction: row;
                .expand{
                    .icon{
                        position: absolute;
                        width: 20px;
                        height: 3px;
                        background-color: black;
                        right: 25px;
                        transition: all 0.5s ease;
                    }
    
                    .icon::after{
                        position: absolute;
                        content:'';
                        transform: rotate(90deg) ;
                        width: 20px;
                        height: 3px;
                        background-color: black;
                        transition: all 0.5s ease;
                    }
                }
    
                .shrink{
                    .icon{
                        // transform: translateX(-20px)!important;
                        background: transparent;
                    }
    
                    .icon::after{
                        position: absolute;
                        content:'';
                        transform: rotate(0deg) !important ;
                        width: 20px;
                        height: 3px;
                        background-color: black;
                    }
                }
            }
            .content{
                display: none;
                padding:15px 25px;

                .image{
                    width: 100%;
                    padding:25px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }


}

body{
    #research{
        padding-top: 100px;
        background-color: #f1f1f1;

        .section_header{
            text-align: center;
            margin-bottom: 100px;
        }

        .research_item{
            margin-bottom: 35px;
            .image{
                width: 100%;
                img{
                    width: 100%;
                }
            }
    
            .research_content{
                padding: 25px;
                
                .content{
                    font-size: 18px;
                }
            }
        }

        
    }
}

body{
    #vision{
        padding-top: 120px;
        .accordion {

            width:100%;
            max-width:1080px;
            height:$a-height;
            overflow:hidden;
            margin:50px auto;
          
            ul {
          
              width:100%;
              display:table;
              table-layout:fixed;
              margin:0;
              padding:0;
          
              li {
                overflow: hidden;
                text-overflow:ellipsis;
                display:table-cell;
                vertical-align:bottom;
                position: relative;
                width:16.666%; // 6 into 100
                height:$a-height;
          
                background-repeat:no-repeat;
                background-position:center center;
          
                transition:all 500ms ease;
          
                div {
                  
                  display:block;
                  overflow:hidden;
                  width:100%;
          
                  a{
                    display:block;
                    height:$a-height;
                    width:100%;
        
                    position:absolute;
                    bottom: 10px!important;
                    z-index:3;
                    // vertical-align:bottom;
                    padding:15px 20px;
                    box-sizing:border-box;
                    color:#fff;
                    text-decoration:none;
                    font-family:Open Sans, sans-serif;
                    
                    transition:all 200ms ease;
        
                    * {
        
                    opacity:0;
                    margin:0;
                    width:100%;
                    text-overflow:ellipsis;
                    position:relative;
                    z-index:5;
                    
                    overflow:hidden;
                    
                    -webkit-transform:translateX(-20px);
                    transform:translateX(-20px);
        
                    -webkit-transition:all 400ms ease;
                    transition:all 400ms ease;
    
                    }
            
                    h2 {
        
                        font-family:Montserrat,sans-serif;
                        text-overflow:unset!important;
                        overflow: unset!important;
                        white-space:normal!important;
                        font-size:24px;
                        text-transform:uppercase;
                        margin-bottom:2px;
        
                    }
                        
                    p {
                        font-size:13.5px;
                    
                    }
          
                  }
          
                }
          
              }
          
              &:hover li,
              &:focus-within li { width:8%; }
              
              li:focus {
                outline: none;
              }
          
              &:hover li:hover,
              li:focus,
              &:focus-within li:focus {
          
                width:60%;
          
                a {
                  
                  background:rgba(0,0,0,.4);
                  
                  * {
                    
                    opacity:1;
                    -webkit-transform:translateX(0);
                    transform:translateX(0);
                  
                  }
                
                }
          
              }
              
              &:hover li {
                width: 8% !important;
                
                a * { opacity: 0 !important; }
              }
              
              &:hover li:hover {
                width:60% !important;
          
                a {
                  
                  background:rgba(0,0,0,.4);
                  
                  * {
                    
                    opacity:1 !important;
                    -webkit-transform:translateX(0);
                    transform:translateX(0);
                  
                  }
                
                }
              }
          
            }
          
          }
          
          // Stack items
        //   @media screen and (max-width: 600px) {
            
        //     // IE gets fussy if this isn't here
        //     body { margin:0; }
            
        //     .accordion {
              
        //       height:auto;
              
        //       ul,ul:hover {
                
        //         li,li:hover {
                  
        //           position:relative;
        //           display:table;
        //           table-layout:fixed;
        //           width:100%;
                  
        //           -webkit-transition:none;
        //           transition:none;
                  
        //         }
                
        //       }
              
        //     }
          
        //   }
    }
}

body{
    #news{
        padding-top: 100px;
        margin-bottom: 100px;

        .title{
            padding-top: 80px;
            text-align: center;
            position: relative;
            color: white;
        }

        .news_item{
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 250px;
            transition:transform 0.5s ease ;
            .image{
                // max-width: 263px;
                // max-height: 340px;
                // opacity: 0.6;
                position: relative;

                width: 100%;
                .fade_image{
                    top:0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    opacity: 0.6;
                }

                img{
                    width: 100%;
                    height: 340px;
                }
            }

            .news_detail{
                top: 65%;
                position: absolute;
                padding: 15px;
                overflow: hidden;
                text-overflow: ellipsis;

                span{
                    color: $secondary_color;
                }
                p{
                    color: white;
                }
            }
        }

        .news_item:hover{
            transform: scale(1.05);
            transition:transform 0.5s ease ;
        }

        #instafeed{
            max-width:1080px;
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            
        }
    }
    
}

body{
    #contact{
        padding-top: 100px;
        .section_header{
            border-bottom: 2px solid black;
        }

        .row{
            margin-top: 50px;
            padding-bottom: 50px;
            background-color: #f1f1f1;
            border-bottom: 5px solid $secondary_color;
            margin-bottom: 80px;
        }

        .image, .contact_content{
            padding-top: 80px;
        }

        .image{
            width: 100%;
            img{
                width: 100%;
            }
        }

        .contact_content{
            padding: 80px 70px;
            .header{
                h2{
                    font-weight: 300;
                }
            }

            .content{
                ul{
                    li{
                        font-size: 18px;
                        span{
                            font-weight: 700;
                        }
                    }
                }

                .tel, .mail{
                    span{
                        font-weight: 700;
                    }

                    a{
                        transition: 0.5s ease;
                    }

                    a:hover{
                        color: $secondary_color;
                        transition: 0.5s ease;
                    }
                }
            }
        }
    }
}

