{% extends 'base.html'%}

{% block content %}

    <main data-aos="fade-down">

        <section id="greeting" style="background-image: url({{about.0.thumbnail.url}});">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>{{about.0.head_statement}}</h2>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="aboutus">
            <div class="container">
                
                <div class="header">
                    <h1>About</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content">
                            <p>{{about.0.about_content}}</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="image">
                            <img src="{{about.0.about_image.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="about_line"></div>
        </div>

        <div id="accordion_about">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion_item">
                            <div class="header">
                                <div class="row justify-content-between">
                                    <div class="col-2">
                                        <h2>Faculty</h2>    
                                    </div>
                                    <div class="col-2 d-flex justify-content-cente align-items-center float-right">
                                        <div class="expand">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>{{about.0.faculty_content}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="accordion_item">
                            <div class="header">
                                <div class="row justify-content-between">
                                    <div class="col-2">
                                        <h2>Partners</h2>    
                                    </div>
                                    <div class="col-2 d-flex justify-content-cente align-items-center float-right">
                                        <div class="expand">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="https://global.abb/group/en" target="_blank"><img src="{{about.0.partner_image1.url}}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="https://www.emerson.com/global" target="_blank"><img src="{{about.0.partner_image2.url}}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="https://www.se.com/az/en/" target="_blank"><img src="{{about.0.partner_image3.url}}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content%}