{% extends 'base.html'%}

{% block content %}

    <main data-aos="fade-down">

        <section id="greeting" style="background-image: url(assets/img/about/about-bg.jpg);">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>Who are we?</h2>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="aboutus">
            <div class="container">
                
                <div class="header">
                    <h1>About</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content">
                            <p>
                                Engineers can now have numerical control over automated devices. The result has been a rapidly expanding range of applications and human activities. Computer-aided technologies (or CAx) now serve as the basis for mathematical and organizational tools used to create complex systems. Notable examples of CAx include Computer-aided design (CAD software) and Computer-aided manufacturing (CAM software). The improved design, analysis, and manufacture of products enabled by CAx has been beneficial for industry.

                                Information technology, together with industrial machinery and processes, can assist in the design, implementation, and monitoring of control systems. One example of an industrial control system is a programmable logic controller (PLC). PLCs are specialized hardened computers which are frequently used to synchronize the flow of inputs from (physical) sensors and events with the flow of outputs to actuators and events.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="image">
                            <img src="assets/img/about/index.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="about_line"></div>
        </div>

        <div id="accordion_about">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion_item">
                            <div class="header">
                                <div class="row justify-content-between">
                                    <div class="col-2">
                                        <h2>Faculty</h2>    
                                    </div>
                                    <div class="col-2 d-flex justify-content-cente align-items-center float-right">
                                        <div class="expand">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    Automation engineering is a field of science combining engineering and the management of information, so that different systems can work effectively in every aspect such as cost of production, quality of products, safety of work, environment and ability to adjust production rates to respond to the demands of the market, as well as the administration and management in the industry.

                                    Automation engineers are experts who have the knowledge and ability to design, create, develop and manage systems, for example, factory automation, process automation as well as building and home automation to make the systems work by themselves or require a minimum number of personnel.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="accordion_item">
                            <div class="header">
                                <div class="row justify-content-between">
                                    <div class="col-2">
                                        <h2>Partners</h2>    
                                    </div>
                                    <div class="col-2 d-flex justify-content-cente align-items-center float-right">
                                        <div class="expand">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="https://global.abb/group/en" target="_blank"><img src="assets/img/about/partners/abb.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="https://www.emerson.com/global" target="_blank"><img src="assets/img/about/partners/emerson.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="https://www.se.com/az/en/" target="_blank"><img src="assets/img/about/partners/schneider.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content%}