{% extends 'base.html' %}
{% block content %}

    <main>
        <section id="greeting" style="background-image: url(assets/img/contact/contact-bg.jpg);">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>Contact</h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="section_header">
                    <h1>Contact</h1>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="image">
                            <img src="assets/img/contact/banm.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="contact_content">
                            <div class="header">
                                <h2>Mailing Address</h2>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>
                                        <a target="_blank" href="https://www.google.com/maps/place/Baku+Higher+Oil+School/@40.382323,49.8704053,17z/data=!3m1!4b1!4m5!3m4!1s0x40307d1c02deeefd:0x9992823963fd8578!8m2!3d40.382323!4d49.872594"><span>1-st address:</span>  Khatai corpus
                                        Khojaly Ave.30, Baku
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.google.com/maps/place/Baku+Higher+Oil+School+Campus/@40.3201055,49.8253025,17z/data=!3m1!4b1!4m5!3m4!1s0x40307eccb6f31903:0x536c86c74343083f!8m2!3d40.3201055!4d49.8274912"><span>2-nd address:</span>  BHOS Campus
                                            Sabail district, Yeni Salyan way 3-rd km. "25", Baku, Azerbaijan 
                                        </a>
                                    </li>
                                </ul>

                                <p class="tel"><span>Telephone:</span> <a href="tel:+994125213363 ">(012) 521 33 63</a></p>
                                <p class="mail"><span>Email:</span><a href="mailto:info@bhos.edu.az">info@bhos.edu.az</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

{% endblock content %}