{% extends 'base.html' %}
{% block content %}
    <main>
        <section id="greeting" style="background-image: url({{research_head.0.thumbnail.url}});">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>{{research_head.0.head_statement}}</h2>
                    </div>
                    <div class="row">
                        <h1>{{research_head.0.second_row}}</h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="research">
            <div class="container">
                <div class="section_header">
                    <h1>Research</h1>
                </div>

                {% for research in researches %}
                <div class="row">
                    
                    {% if research.id|divisibleby:2 %}
                    <div class="col-sm-12 order-4 order-md-3 col-md-6 research_item">
                        <div class="research_content">
                            <div class="header">
                                <h3>
                                    {{research.research_title}}
                                </h3>
                            </div>
                            <div class="content">
                                <p>
                                    {{research.research_content}}
                                </p>
                            </div>
                            
                        </div>
                    </div>
                     <div class="col-sm-12 order-3 order-md-4 col-md-6 research_item">
                        <div class="image">
                            <img src="{{research.research_image.url}}" alt="">
                        </div>
                    </div>
                    
                    {% else %}
                    


                    <div class="col-12 order-1 col-md-6 research_item">
                        <div class="image">
                            <img src="{{research.research_image.url}}" alt="">
                        </div>
                    </div>
                    <div class="col-12 order-2 col-md-6 research_item">
                        <div class="research_content">
                            <div class="header">
                                <h3>
                                    {{research.research_title}}
                                </h3>
                            </div>
                            <div class="content">
                                <p>
                                    {{research.research_content}}
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
                {% endfor %}
            </div>
        </section>


    </main>

{% endblock content %}