{% extends 'base.html'%}
{% block content %}
    <main>
        <section id="greeting" style="background-image: url(assets/img/visions/vision-bg.jpg);">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>What do we desire to do</h2>
                    </div>
                    <div class="row">
                        <h1>in the Future</h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="vision">
            <div class="container">
                <div class="section_header">
                    <h1>Our goals</h1>
                </div>
            </div>

            <div class="container">
                <div class="accordion">
                    <ul>
                      <li tabindex="1" style="background-image: url(assets/img/visions/vision/1.jpg);">
                        <div>
                          <a>
                            <h2>Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et magni nam vitae autem vel in voluptatibus eaque modi, sapiente atque blanditiis saepe commodi ullam soluta nemo quis necessitatibus nostrum?</p>
                          </a>
                        </div>
                      </li>
                      <li tabindex="2" style="background-image: url(assets/img/visions/vision/2.jpg);">
                        <div>
                          <a>
                            <h2>Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </a>
                        </div>
                      </li>
                      <li tabindex="3" style="background-image: url(assets/img/visions/vision//3.png);">
                        <div>
                          <a>
                            <h2>Lorem Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
            </div>
        </section>


    </main>

    {% endblock content %}