{% extends 'base.html'%}
{% block content %}
    <main>
        <section id="greeting" style="background-image: url({{vision.0.thumbnail.url}});">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>{{vision.0.head_statement}}</h2>
                    </div>
                    <div class="row">
                        <h1>{{vision.0.second_row}}</h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="vision">
            <div class="container">
                <div class="section_header">
                    <h1>Our goals</h1>
                </div>
            </div>

            <div class="container">
                <div class="accordion">
                    <ul>
                      <li tabindex="1" style="background-image: url({{vision.0.goal_image_1.url}});">
                        <div>
                          <a>
                            <h2>{{vision.0.goal_title_1}}</h2>
                            <p>{{vision.0.goal_content_1}}</p>
                          </a>
                        </div>
                      </li>
                      <li tabindex="2" style="background-image: url({{vision.0.goal_image_2.url}});">
                        <div>
                          <a>
                            <h2>{{vision.0.goal_title_2}}</h2>
                            <p>{{vision.0.goal_content_2}}</p>
                          </a>
                        </div>
                      </li>
                      <li tabindex="3" style="background-image: url({{vision.0.goal_image_3.url}});">
                        <div>
                          <a>
                            <h2>{{vision.0.goal_title_3}}</h2>
                            <p>{{vision.0.goal_content_3}}</p>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
            </div>
        </section>


    </main>

    {% endblock content %}